<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Self Service Order</title>
</head>

<body>

    <main id="app">

        <section class="items">
            <div class="test">
                <div class="cabecalho">
                    <img src="logotipos.png" class="logo" style="width: 60px; height: auto; margin-left: 5px;">
                    <h3>Encomende seu perfume via WhatsApp</h3>
                    <img src="logotipos.png" class="logo" style="width: 60px; height: auto; margin-right: 5px;">
                </div>
                <h5>(Prazo de entrega 7 à 14 Dias)</h5>
                <br>
                <a href="#" id="doubtsLink">Dúvidas clique aqui</a>
                <div class="filltro">
                    <input type="text" v-model="searchQuery" placeholder="Pesquisar produto" />
                </div>
            </div>
            <div v-for="product in uniqueFilteredProducts" :key="product.id" class="product" @click="toggleActive(product)" :class="{selected: product.active}">
                <div class="photo">
                    <img :src="'img/' + product.MARCA +'/'+product.NOMEFOTO">
                </div>
                <div class="description">
                    <span class="name">{{ formatProductName(product) }}</span>
                    <span class="price">R$ {{ calculateTotalPrice(product) }}</span>
                    <select v-model="product.selectedML" @change="updatePrice(product)">
                        <option v-for="ml in product.MLArray" :key="ml" :value="ml">{{ ml }} ML</option>
                    </select>
                    <div class="quantity-area">
                        <template v-if="product.active">
                            <button :disabled="product.quantity <= 1" @click.stop="decreaseQuantity(product)">-</button>
                            <span class="quantity">{{ product.quantity }}</span>
                            <button @click.stop="increaseQuantity(product)">+</button>
                        </template>
                    </div>
                    <button id="msg" @click.stop="redirectToWhatsApp(product)">
                        <i class="fab fa-whatsapp"></i> Encomendar via WhatsApp
                    </button>
                </div>
            </div>
        </section>
    </main>

    <!-- Modal HTML -->
    <div id="customModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3 style="color: red;">AVISO!</h3>
            <p>Encomendas realizadas somente após o pagamento do sinal correspondente a 15% do valor do produto.</p>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    products: [],
                    searchQuery: ''
                };
            },
            created() {
                axios.get('https://sheetdb.io/api/v1/h30o44uc4omzr')
                    .then(response => {
                        const productMap = new Map();

                        response.data.forEach(product => {
                            const mlValue = parseInt(product.ML, 10);
                            const revendaPrice = parseFloat(product.REVENDA.replace('R$', '').replace(',', '.'));

                            if (productMap.has(product.NOMECOMPLETO)) {
                                const existingProduct = productMap.get(product.NOMECOMPLETO);
                                existingProduct.MLArray.push(mlValue);
                                existingProduct.prices[mlValue] = revendaPrice;
                            } else {
                                const mlArray = [mlValue];
                                productMap.set(product.NOMECOMPLETO, {
                                    ...product,
                                    quantity: 1,
                                    active: false,
                                    selectedML: mlValue,
                                    MLArray: mlArray,
                                    prices: {
                                        [mlValue]: revendaPrice
                                    }
                                });
                            }
                        });

                        this.products = Array.from(productMap.values());
                    })
                    .catch(error => {
                        console.error('Ocorreu um erro:', error);
                    });
            },
            computed: {
                uniqueFilteredProducts() {
                    const uniqueNames = new Set();
                    return this.products.filter(product => {
                        const productName = `${product.PERFUME} ${product.TIPO} - ${product.MARCA}`.toLowerCase();
                        const matchesQuery = productName.includes(this.searchQuery.toLowerCase());
                        if (matchesQuery && !uniqueNames.has(productName)) {
                            uniqueNames.add(productName);
                            return true;
                        }
                        return false;
                    });
                }
            },
            methods: {
                toggleActive(product) {
                    product.active = !product.active;
                },
                total() {
                    return this.products.reduce((sum, product) => {
                        return product.active ? sum + product.quantity * this.calculatePrice(product) : sum;
                    }, 0).toFixed(2);
                },
                redirectToWhatsApp(product) {
                    const productInfo = `${this.formatProductName(product)} (${product.selectedML} ML)`;
                    const totalPrice = this.calculateTotalPrice(product);
                    const advancePayment = (totalPrice * 0.15).toFixed(2);
                    const message = `Olá, gostaria de encomendar o seguinte produto:\n${productInfo}\nQuantidade: ${product.quantity}\nValor: R$${totalPrice}\nOBS: ESTOU DE ACORDO EM PAGAR 15% DO VALOR DA COMPRA ANTECIPADO PARA VALIDAR A ENCOMENDA = R$ ${advancePayment}`;
                    const url = `https://wa.me/5511950820257?text=${encodeURIComponent(message)}`;
                    window.open(url, '_blank');
                },
                formatProductName(product) {
                    return `${product.PERFUME} ${product.TIPO} - ${product.ABVMARCA}`;
                },
                calculatePrice(product) {
                    return product.prices[product.selectedML] || 0;
                },
                calculateTotalPrice(product) {
                    return (this.calculatePrice(product) * product.quantity).toFixed(2);
                },
                updatePrice(product) {
                    product.REVENDA = this.calculatePrice(product);
                    this.$forceUpdate();
                },
                increaseQuantity(product) {
                    product.quantity++;
                    this.updatePrice(product);
                },
                decreaseQuantity(product) {
                    if (product.quantity > 1) {
                        product.quantity--;
                        this.updatePrice(product);
                    }
                }
            },
            watch: {
                products: {
                    handler(newProducts) {
                        newProducts.forEach(product => {
                            product.REVENDA = this.calculatePrice(product);
                        });
                    },
                    deep: true
                }
            }
        });

        app.mount('#app');

        // JavaScript para o modal
        window.onload = function() {
            const modal = document.getElementById("customModal");
            const span = document.getElementsByClassName("close")[0];

            modal.style.display = "block";

            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            // Redirecionar para WhatsApp com mensagem específica
            document.getElementById('doubtsLink').onclick = function() {
                const message = "Olá, tenho a seguinte dúvida:";
                const url = `https://wa.me/5511950820257?text=${encodeURIComponent(message)}`;
                window.open(url, '_blank');
            };
        };
    </script>
</body>

</html>
