@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Belleza&family=Raleway:wght@300;400&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main > section.items h3 {
    text-align: center;
    font-family: 'Raleway', 'Belleza', 'Raleway', serif;
    width: 93%;
    height: 50px;
    display: inline-block;
    font-size: 20px;
    color: whitesmoke;
    
}
@media (max-width: 600px) {
    main > section.items h3 {
        text-align: center;
        font-family: 'Raleway', 'Belleza', 'Raleway', serif;
        width: 93%;
        height: 50px;
        display: inline-block;
        font-size: 14px;
        
    }
}
h5{
    font-size: 15px;
    color: red;
    margin-top: 0;
    margin-bottom: 15px;
    width: 100%;
    height: 30px;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}


main {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
}

main > section.items {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    
    max-width: 95%;
    min-width: 300px;
    justify-content: center;
    
}
input{
    
    display: inline-block;
    height: 35px;
    width: 40%;
    margin-top: 20px;
    border-radius: 20px;
    border:solid 1px;
    margin-bottom: 20px;
}
@media (max-width: 600px) {
input{
    
    display: inline-block;
    height: 35px;
    width: 80%;
    margin-top: 20px;
    border-radius: 20px;
    border:solid 1px;
    margin-bottom: 20px;
}
}
#msg{
    background-color: #25D366;
    
    border-radius: 10px;
    border: 1px solid lightgrey;
    height: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}
.test{
    width: 100%;
    align-items: center;
    text-align: center;
}
.cabecalho{
    background-color: black;
    height: 50px;
    width: 100%;
    display: flex;
    
}
.filtro{
    width: 100%;
    background-color: #25D366;

}
.name{
    width: 100%;
}
select{
    margin-top: 15px;
    margin-bottom: 10px;
}
.quantity-area{
    margin-bottom: 10px;
    
}
section.items .product {
    border: 1px solid lightgrey;
    margin: 6px;
    flex: 0 0 calc(23.333% - 24px);
    cursor: pointer;
    text-align: center;
    display: block;
}
@media (max-width: 1000px) {
section.items .product {
    border: 1px solid lightgrey;
    margin: 6px;
    flex: 0 0 calc(28.333% - 24px);
    cursor: pointer;
    text-align: center;
    display: block;
}
}
@media (max-width: 750px) {
    section.items .product {
        border: 1px solid lightgrey;
        margin: 6px;
        flex: 0 0 calc(45.333% - 24px);
        cursor: pointer;
        text-align: center;
        display: block;
    }
}
@media (max-width: 600px) {
    section.items .product {
        border: 1px solid lightgrey;
        margin: 6px;
        flex: 0 0 calc(90.333% - 24px);
        cursor: pointer;
        text-align: center;
        display: block;
    }
}

section.items .product.selected {
    border: 2px solid rgb(29, 134, 233);

}

section.items .photo img {
    max-width: 100%;
}
.logo{
 margin-top: 10px;
}

section.items .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 11px;
    line-height: 15px;
}

section.items  .description .price {
    font-weight: bold;
    margin: 4px auto;
}

section.items  .description .quantity-area {
    margin: 8px auto;
    height: 14px;
}

section.items  .description .quantity-area button {
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section.items  .description .quantity-area .quantity {
    font-weight: bold;
    margin: 0 4px;
}


section.summary {
    background-color: rgb(245, 245, 245);
    padding: 20px;
    min-height: 200px;
    min-width: 200px;
    text-align: center;
}

section.summary table {
    width: 100%;
    padding-top: 12px;
    font-size: 11px;
    margin: auto;
}

section.summary table tbody tr:last-of-type th {
    border-top: 1px solid black;
    padding-top: 4px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Modal content */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 15px;
}
/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    
}
#doubtsLink{
    color: red;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
